{{log model}}
<div class="card">
  <ul>
    {{#each model.allGames as |game|}}
      <li>
        <div class="row">
          <div>
            Game #{{game.id}}
          </div>
          <div>
            Round {{game.currentRound.number}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>

{{outlet}}